/* Demo React */
/* Reset maison */
*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-family: 'Open sans';
}
a{
    text-decoration: none;
    color: inherit;

}
li{
    list-style: none;
}

/* Structure -----------------------*/

.container{
    margin: 0 auto;
    max-width: 1024px;
}
.relative{
    display: relative;
}
.absolute{
    display: absolute;
}
.flex{
    display: flex;
}
.space-between{
    justify-content: space-between;
}
.wrapper{
min-height: 100vh;
}
/* Header */
header{
    padding: 1.5625%;
    border-bottom: solid 1px #ccc;
    box-shadow: 3px 3px 3px rgba(0,0,0,0.20);
    position: fixed;
    z-index: 2;
    background: #fff;
    left: 0;
    right: 0;
    top: 0;
}

.logo{
    flex-grow: 4;
}
/* Navigation */
nav{
    flex-grow: 1;
}
nav ul{
    display: flex;
    position: relative;
}
nav li{
    padding: 0 3.125%;
    line-height: 100px;
    text-transform:uppercase ;
    flex-grow: 1;
    text-align: center;
    position: static;
    z-index: 1;
}
nav li.current{
    border-bottom: solid 3px #888;
}
.progressionBar{
    position: absolute;
    height: 3px;
    background: #ccc;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0;
    margin: 0;
    z-index: 0;
}
/* General */
body{
    background: url('../asset/presentation-back.jpg') no-repeat fixed;
    background-size: cover;
}
/* Sections */
section{
    min-height: 100vh;
    padding: 3.125% 1.5625%;
}

/* Accueil */
#accueil{
    padding:0 ;
    
}
.innerIntro{
    justify-content: flex-end;
}
.introduction{
    width:50%;
    padding: 0 3.125%;
    margin-top: 20%;
    position: static;
    z-index: 1;
}

#accueil{
    position:relative;
    min-height: 100vh;
}
.fondBlanc{
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    left: 50%;
    background:#fff;
    z-index: 0;
    box-shadow: -25vw 0 25vw rgb(0 0 0 / 25%);
}
#accueil h2{
    font-size: 2.1em;
    line-height: 1;
    margin-bottom: 1em;
}
#accueil p{
    line-height: 1.5;
    margin-bottom:2em;;
}
#accueil button{
    background: rgb(51,51,51);
    background: -moz-linear-gradient(126deg, rgba(51,51,51,1) 0%, rgba(0,0,0,1) 100%);
    background: -webkit-linear-gradient(126deg, rgba(51,51,51,1) 0%, rgba(0,0,0,1) 100%);
    background: linear-gradient(126deg, rgba(51,51,51,1) 0%, rgba(0,0,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#333333",endColorstr="#000000",GradientType=1);
    color:#fff;
    text-transform: uppercase;
    line-height: 40px;
    padding: 0 3.125%;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    box-shadow: 3px 3px 3px rgba(0,0,0,0.25);
}
#accueil button:hover{
    filter: brightness(1.5);
}
#accueil .triangle{
    width: 0;
    height: 100vh;
    border-style: solid;
    border-width: 0px 25vw 100vh 0;
    border-color: transparent #fff transparent transparent;
    position: absolute;
    bottom: 0;
    right: 50%;
    z-index: -1;
}

/* Presentation */
#presentation{
    padding-top: calc(100px + 6.25%);
    z-index: 1;
    position: relative;
}
#presentation h2{
    font-size: 2em;
    margin: 0 0 1em 0;
}
.specs{
    width:50%;
    padding: 3.125% 12.5% 3.125% 3.125%;
}
.specs p{
    margin-bottom: 1em;
}
.listeTech{
    display:flex;
    flex-wrap: wrap;
}
.listeTech li{
    width: 50%;
    text-align: center;
    font-size: 2em;
    margin-bottom:30px;
}
.listeTech i{
    font-size: 4em;
}

.techWrap{
    width: 50%;
    padding:3.125%;
    background: rgb(22,79,136);
background: -moz-linear-gradient(126deg, rgba(22,79,136,1) 0%, rgba(13,61,109,1) 100%);
background: -webkit-linear-gradient(126deg, rgba(22,79,136,1) 0%, rgba(13,61,109,1) 100%);
background: linear-gradient(126deg, rgba(22,79,136,1) 0%, rgba(13,61,109,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#164f88",endColorstr="#0d3d6d",GradientType=1);
    color:#fff;
    border-radius: 3px;
    box-shadow: 3px 3px 3px rgba(0,0,0.25);
    z-index:-1;
}
.fondSpecs{
   background-color: #fff;
   position: absolute;
   top: 0;
   left: 0;
   bottom: 0;
   width: 40%;
   z-index: -1;
}

.triangleSpecsA{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 100vh 0 0 20vw;
    border-color: transparent transparent transparent #fff;
    position:absolute;
    left:40%;
    bottom:0;
    z-index: -1;
}


/* Contact */
#contact{
    min-height: initial;
    padding: 3.125% 0 0;
    position: relative;
    background:#555;
    color:#fff;
}
#contact h2{
    font-size: 2em;
    margin-bottom: 1em;
}
#contact > div{
    padding: 1.5625%
}
#contact nav{
    background: #222;
    color:#fff;
    padding: 3.125%;
}

#contact nav .flex{
    justify-content:space-between;
}
#contact h3{
    font-size: 1.5em;
    margin-bottom: 20px;
}

#contact nav ul{
    display: initial;
}
#contact nav li{
    list-style-type: none;
    margin: 0 0 10px 0;
    line-height: initial;
    text-align: left;
    font-size: 0.8em;
}
.footerLogo{
    text-align:center;
}
.fondContact{
    position: absolute;
    top:0;
    bottom: 0;
    left:0;
    right:40%;
    background: #fff;
    z-index: -1;
}

/*Footer */ 
footer{
    background-color: #000;
    color:#fff;
}
footer p{
    font-size: 0.8em;
    line-height: 50px;
    text-align: center;
}

/* Media Queries */

@media screen and (max-width: 960px){
    /* Accueil */
    #accueil h2{
        font-size: 1.75em;
    }
    .introduction{
        margin-top: calc(100% / 3);
    }
}
@media screen and (max-width: 500px){
    header{
        left:0;
        right: initial;
        bottom:0;
        width:100px;
    }
    header nav ul{
        flex-direction:column;
    }
    header  .container .flex{
        flex-direction: column;
        justify-content: start;
    }
    #accueil, #presentation, #contact{
        padding-left: calc(100px + 3.125%);
    }
    nav li {
        line-height: initial;
        margin: 10px 0;
        font-size: 0.7em;
    }
    .logo{
        text-align:center;
    }
    .logo img{
        width:50px;
        height: auto;
    }
    /* Accueil */
    #accueil h2{
        font-size: 1.5em;
    }
    .introduction{
        width: initial;
        margin-top: calc(100% * 2/3);
    }
    .fondBlanc {
        position: absolute;
        right: 0;
        bottom: 0;
        top: 16%;
        left: 0;
        background: #fff;
        z-index: 0;
        box-shadow: -25vw 0 25vw rgb(0 0 0 / 25%);
    }
    #accueil .triangle{
        display: none;
    }
}